[Unit]
Description=Rocket Telemetry Receiver Service
After=network.target hostapd.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/rocket-telemetry/receiver
Environment=PYTHONPATH=/home/pi/rocket-telemetry/receiver/env/lib/python3.9/site-packages
ExecStart=/home/pi/rocket-telemetry/receiver/env/bin/python3 /home/pi/rocket-telemetry/receiver/receiver.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 